body {

  width:50%;

  /* 画像ファイルの指定 */
  background: url(image/bg.png) 0 0 no-repeat;
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
    
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size:cover;
     
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #ffffff;
  
}
body::before{
  content: '';
  display:block;
  padding-top:50%;
}

input[type=radio]:focus {
  box-shadow: 0 0 30px royalblue;
  border-radius:20px;
}
input[type=radio]:focus:checked{
  box-shadow:none;
}
/*
body {
min-height:100%;
height:100vh;
background: url('bg.png') no-repeat;
background-size:100%;
background-position: bottom center;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}*/
input[type=radio] {
border: 0px;
width: X;
height: X;
}

.button {
margin-left: 30%;
margin-top: 20%;
}
small, small * {
  font-size:11.5px;
}
.slogan{
  font-size: 13px;
  color: rgba(0,0,0, .3);
}
.example{
  float:none;
  width:90%;
  max-width: 450px;
  margin:0 auto;
  display: inline-block;
  box-shadow: 0 3px 30px rgba(0,0,0, .2);
  border-radius: 10px ;
}
pre {
  color:white;
  max-width: 300px;
  float: none;
  border-radius:2px;

  padding: 5px 0;
  box-shadow: 0 1px 1px rgba(0,0,0, .1) inset;
  text-align: center;
}
.bg-red{
  background-color: #ff0011;
}
.color-red{
  color: #ff0011;
}
input[type="radio"]{
  margin-right:3px;
  margin-left:-3px;
  position: relative;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

}

#carbonads{
     display: block;
    overflow: hidden;
    padding: 1em;
    line-height: 1.5;
    max-width: 340px;
    color: darkgrey;
    text-align: center;
    border-radius: 5px;
    background: #eee;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: 1em;
  border-radius:5px;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  max-width: calc(100% - 130px - 1em);
  text-align: left;
  color:grey;
}

.carbon-poweredby {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  color:grey;
}

/*
 * radiobox.css
 * v1.0.1
 *
 * Tiny set of CSS3 animations for your radio inputs.
 * https://github.com/720kb/
 *
 * MIT license
 * Thu Sep 15 2016
 */
@-webkit-keyframes tremolo{0%{-webkit-transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg)}50%{-webkit-transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0);transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0)}90%{-webkit-transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg)}100%{-webkit-transform:none;transform:none}}@keyframes tremolo{0%{-webkit-transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg)}50%{-webkit-transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0);transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0)}90%{-webkit-transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg)}100%{-webkit-transform:none;transform:none}}.radiobox-tremolo:checked{-webkit-animation:tremolo 65ms linear;animation:tremolo 65ms linear;-webkit-animation-iteration-count:7;animation-iteration-count:7}/*
 * radiobox.css
 * v1.0.1
 *
 * Tiny set of CSS3 animations for your radio inputs.
 * https://github.com/720kb/
 *
 * MIT license
 * Thu Sep 15 2016
 */
@-webkit-keyframes tremolo{0%{-webkit-transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg)}50%{-webkit-transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0);transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0)}90%{-webkit-transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg)}100%{-webkit-transform:none;transform:none}}@keyframes tremolo{0%{-webkit-transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(.5px) translateX(-.5px) scale(1) skewY(1deg) skewX(-1deg)}50%{-webkit-transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0);transform:translateX(0) translateY(0) scale(1.1) skewY(0) skewX(0)}90%{-webkit-transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg);transform:translateY(-.5px) translateX(.5px) scale(1) skewY(1deg) skewX(-1deg)}100%{-webkit-transform:none;transform:none}}.radiobox-tremolo:checked{-webkit-animation:tremolo 65ms linear;animation:tremolo 65ms linear;-webkit-animation-iteration-count:7;animation-iteration-count:7}
